SDL2-2.0.10/
.deps
obj
gratze
fdc.o
debug.o
.vscode/settings.json
mfz80/Z80-081707.zip
config.h
config.status
log
trs80/model1/rom_level2.o
autom4te.cache/*
./Makefile
configure
config.log
SDL2-*
SDL2_ttf-*
*.dll
z80_dump.bin
z80_dump.txt
z80.dump
mhash-install/*
tools/asm2650/asm8bit
tools/asm2650/asm2650
tools/asm2650/pipbug.bin
tools/asm2650/pipbug.lst
tools/asm2650/pipbug.bin
tools/asm2650/pipbug.lst
tools/asm2650/pipbug.bin
tools/asm2650/pipbug.lst
tools/grasm/grasm
grasm/extract.bin
grasm/grasm
emulator/Makefile
emulator/autom4te.cache/*
disk/autom4te.cache
disk/libgrzdisk.a
emulator/autom4te.cache/requests
disk/Makefile
Makefile
disk/grzdisk
emulator/autom4te.cache/traces.0
emulator/autom4te.cache/output.0
grasm/t.out
disk/t
disk/defender_ds40.dsk
grasm/trs80_level2.asm
emulator/z80/microbee/56krom.lst
6800/6800test
6800/libgrz6800.a
6800/autom4te.cache/output.0
6800/autom4te.cache/requests
6800/autom4te.cache/traces.0
.gitignore
emulator/z80/cpm80/newbdos.bin
emulator/z80/cpm80/newbdos_rom.c
emulator/Mbasic.com
