SDL2-2.0.10/
.deps
obj
gratze
fdc.o
debug.o
.vscode/settings.json
mfz80/Z80-081707.zip
config.h
config.status
log
trs80/model1/rom_level2.o
autom4te.cache/*
./Makefile
configure
config.log
trs80/model1/rom_level1.o
SDL2-*
SDL2_ttf-*
*.dll
z80_dump.bin
z80_dump.txt
z80.dump
mhash-install/*
tools/asm2650/asm8bit
tools/asm2650/asm2650
tools/asm2650/pipbug.bin
tools/asm2650/pipbug.lst
tools/asm2650/pipbug.bin
tools/asm2650/pipbug.lst
tools/asm2650/pipbug.bin
tools/asm2650/pipbug.lst
tools/grasm/grasm
grasm/extract.bin
grasm/grasm
